/* main container styles */
body {
	min-width: $base-min-width;
	font-size: 16px;

	@include media('>=phone') {
		font-size: 23px;
	}

	@include media('>=widescreen') {
		font-size: 40px;
	}
}

#wrapper
#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.container {
	padding: 0 20px;

	@include media('>=phone') {
		padding: 0 50px;
	}

	@include media('>=widescreen') {
		padding: 0 90px;
	}
}

.container-fluid {
	padding: 0 20px;

	@include media('>=phone') {
		padding: 0 50px;
	}

	@include media('>=widescreen') {
		padding: 0 90px;
	}
}

#main {
	position: relative;
	padding-top: 87px;

	@include media('>=phone') {
		padding-top: 163px;
	}

	@include media('>=widescreen') {
		padding-top: 212px;
	}
}

.title {
	max-width: 290px;

	@include media('>=phone') {
		max-width: 470px;
	}

	@include media('<tablet') {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.image-holder {
	@include media('<desktop') {
		text-align: center;
	}

	img {
		@include media('<desktop') {
			width: 100%;
		}
	}
}

.price {
	display: block;
	font-size: 30px;
	font-weight: 800;

	@include media('>=phone') {
		font-size: 36px;
	}

	@include media('>=widescreen') {
		font-size: 61px;
	}
}

.text-holder {
	@include media('<tablet') {
		text-align: center;
		max-width: 355px;
		margin-left: auto;
		margin-right: auto;
	}
}
