/* buttons style */

.btn {
	font-size: 14px;
	color: inherit;
	text-decoration: none;

	@include media('>=desktop') {
		font-size: 18px;
	}

	@include media('>=widescreen') {
		font-size: 24px;
	}

	&.btn-primary {
		color: $white;
		border: none;

		&:hover {
			color: $primary;
			background: $white;
		}
	}

	&:focus,
	&:active {
		box-shadow: 0 0 20px 1px rgba(0, 0, 0, .05), inset -6px -10px 50px -24px rgba(0, 0, 0, .7);
	}

	&.disabled {
		color: #00a683;
		background-color: $primary;
		opacity: 1;
	}

	&.btn-dark {
		color: $primary;
		background-color: #00a683;
		opacity: 1;
		border: none;
		box-shadow: 1px 1px 2px 1px rgba(1, 1, 1, 0.05);

		&:hover {
			background: $white;
			color: $primary;
		}
	}
}

.btn-chat {
	position: fixed;
	width: 70px;
	height: 70px;
	bottom: 81px;
	right: 5px;
	font-size: 35px;
	color: $white;
	z-index: 50;
	text-decoration: none;
	border-radius: 50%;
	background: $primary;

	@include media('>=phone') {
		width: 140px;
		height: 140px;
		right: 23px;
		font-size: 70px;
	}

	@include media('>=tablet') {
		bottom: 70px;
		right: 33px;
	}

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -40%);
	}

	&:hover {
		color: $white;
		background: #00a683;
	}
}

.nav-active {
	.btn-chat {
		color: $primary;
		background: $white;

		&:hover {
			opacity: .8;
		}
	}
}
